.main-footer, .sub-footer {
	display: block;
	float: left;
	width: 100%;
	h2, h3, p, a {
		color: #fff;
		text-shadow: 0 1px 4px rgba(0,0,0,0.20);
	}
}

.main-footer {
	position: relative;
	.footer-overlay {
		display: block;
		width: 100%;
		position: absolute;
		bottom: 24px;
	}
	#gform_wrapper_4, .gform_wrapper ul li.gfield, #input_4_1 {
		margin: 0 !important;
	}
	#input_4_1 {
		font-weight: 600;
	}
	.social {
		margin-bottom: 10px;
		svg {
			fill: #fff;
		}
	}
	.social-subscribe h3 {
		font-size: 18px;
		margin-bottom: 20px;
	}
}

.sub-footer {
	background-color: $brown;
	/* background-image: url(../images/footer-bg.png); */
	position: relative;
	.map-container {
		display: block;
		float: left;
		width: 100%;
		/* background: url(../images/footer-map.png) left top no-repeat; */
		background-position: left top;
		background-repeat: no-repeat;
		background-size: auto 100% !important;
		@media only screen and (max-width: 800px) {
			background-position: right top;
		}
	}
	a.logo img {
		width: 440px;
		margin-top: 140px;
		margin-bottom: 30px;
		@media only screen and (max-width: 40.063em) {
			margin-top: 30px;
			margin-bottom: 20px	
		}
	}
	.footer-about p {
		font-size: 22px;
		max-width: 495px;
		display: inline-block;
		margin-bottom: 80px;
		@media only screen and (max-width: 40.063em) {
			margin-bottom: 40px;	
		}
	}
	a.footer-brochure-image {
		display: block;
		float: left;
		margin-left: 12%;
		margin-top: 105px;
		@media only screen and (max-width: 40.063em) {
			margin-left: 0;
			margin-top: 0;
			width: 100%;	
		}
		img {
			box-shadow: 5px 5px 10px rgba(0,0,0,.60);
			margin-bottom: 40px;
			transform: rotate(9deg);
			@media only screen and (max-width: 40.063em) {
				margin-bottom: 18px;	
			}
		}
	}
	a.footer-brochure {
		display: block;
		float: left;
		margin-top: 270px;
		font-style: italic;
		font-weight: bold;
		max-width: 135px;
		font-size: 20px;
		margin-left: 30px;
		@media only screen and (max-width: 1360px) {
			margin-top: 12px;
			margin-bottom: 40px;
		}
		@media only screen and (max-width: 40.063em) {
			display: inline-block;
			float: none;
			margin-left: 0;	
		}		
	}
	p.drum {
		opacity: 0.3;
	}
}

.footer-menu {
	li {
		list-style: none;
		margin-bottom: 8px;
		a {
			font-size: 18px;
		}
	}
}