.main-footer, .sub-footer {
	display: block;
	float: left;
	width: 100%;
	h2, h3, p, a {
		color: #fff;
		text-shadow: 0 1px 4px rgba(0,0,0,0.20);
	}
}

.main-footer {
	position: relative;
	.footer-overlay {
		display: block;
		width: 100%;
		position: absolute;
		bottom: 24px;
	}
	#gform_wrapper_4, .gform_wrapper ul li.gfield, #input_4_1 {
		margin: 0 !important;
	}
	#input_4_1 {
		font-weight: 600;
	}
	.social {
		margin-bottom: 10px;
		svg {
			fill: #fff;
		}
	}
	.social-subscribe h3 {
		font-size: 18px;
		margin-bottom: 20px;
	}
}

.sub-footer {
	position: relative;
	background: $primary-dim url(../images/footer-bg.png);
	a.logo img {
		width: 440px;
		margin-top: 44px;
		margin-bottom: 40px;
	}
	.footer-about p {
		font-size: 24px;
		max-width: 495px;
		margin-top: 64px;
	}
	a.footer-brochure {
		display: inline-block;
		text-align: center;
		font-size: 20px;
		max-width: 189px;
		margin-top: -167px;
		line-height: 1.1;
		margin-bottom: 20px;
		img {
			box-shadow: 5px 5px 10px rgba(0,0,0,.60);
			margin-bottom: 16px;
		}
	}
	.drum.cell {
		background: url(../images/sc-map.png) left 20px no-repeat;
	}
	p.drum {
		opacity: 0.3;
	}
}

.footer-menu {
	li {
		list-style: none;
		margin-bottom: 8px;
		a {
			font-size: 18px;
		}
	}
}