.button a, input.button, .faux-button, .poi-itinerary.button {
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
	background: transparent;
	border: solid $button-border-width $brown;
	border-radius: $global-radius;
	color: $brown;
	padding: 12px 30px;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	transition: all .5s;
	-webkit-transition: all .5s; /* Safari and Chrome */
	-ms-transition: all .5s; /* Opera */
	@include breakpoint(medium ) {
	    margin-right: 15px;
	}
	&:last-child {
		margin-right: 0;
	}	
	&:hover {
		background: $brown;
		color: #fff !important;
	}
}

.button.rounded a {
	border-radius: 8px;
}

.button.blue a {
	color: #598f9b;
	border-color: #598f9b;
	&:hover {
		background: #598f9b;
	}
}

.button.green a {
	color: #99a53b;
	border-color: #99a53b;
	&:hover {
		background: #99a53b;
	}
}

.button.orange a {
	color: #e67002;
	border-color: #e67002;
	&:hover {
		background: #e67002;
	}
}

.button.small a, .faux-button.small, button.small {
	padding: 8px 16px;
	font-size: 16px;
}

.button.arrow a, .faux-button.arrow, button.arrow {
	padding-right: 36px;
}

.faux-button.arrow.small {
	svg {
		width: 9px;
		height: 16px;
		position: absolute;
		right: 16px;
		top: 10px;
	}
}

.button.large a, button.large {
	padding: 10px 50px;
	font-size: 25px;
}

.button.full-width a, button.full-width {
	width: 100%;
	margin-bottom: 20px;
	font-size: 25px;
}

.button.reverse a, .faux-button.reverse, button.reverse {
	border-color: #fff;
	color: #fff;
	background: rgba(0,0,0,.15);
	font-weight: bold;
	svg path {
		fill: #fff;
	}	
	&:hover {
		background: #fff;
		color: $primary-color;
		svg path {
			fill: $primary-color;
		}		
	}
}