.subscribe-form {
	margin-top: -12px;
	.gform_body, .gform_footer {
		display: inline-block;
		vertical-align: middle;
	}
	.gform_body, .gform_footer, .ginput_container {
		margin: 0 !important;
		padding: 0 !important;		
	}
	.gfield {
		padding-right: 0 !important;
	}
	.gform_body {
		width: 363px !important;
	}
	.gform_footer {
		margin-left: -4px !important;
		width: 173px !important;
	}
	.gform_wrapper input[type="text"] {
		border-radius: 0;
		font-size: 24px !important;
		background: rgba(255,255,255,0.80);
		border: none;
		box-shadow: none;
		height: 51px;
	    &::-webkit-input-placeholder {
		    color: $brown;
		}		
	}
	.gform_button {
		width: 100% !important;
		margin: 0 !important;
		font-size: 24px !important;
		text-transform: none;
		font-weight: bold;
		padding: 11px 4px;
		border-radius: 0;
		background: $orange;
		color: #fff !important;
		border: none;
		text-shadow: none;
		height: 51px;
		box-shadow: none;
		&:hover {
			background: $primary-color;
		}	
	}
}

.menu-container .subscribe-form .gform_body {
	width: 179px !important;
}