.error404 article {
	padding: 40px 0;
}

h1.entry-title.error-404 {
	font-size: 300px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 10px 14px rgba(0,0,0,0.10);
}

body.error404 {
	.entry-content {
		h2 {
			font-size: 30px;
			color: #CACACA;
			margin-bottom: 28px;
		}
	}
}