.slider-container {
	display: block;
	float: left;
	width: 100%;
	position: relative;
	max-height: 1048px;
	overflow: hidden;
}

.slider-container li img {
	width: 100%;
}

.slider-overlay {
	display: block;
	width: 100%;
	height: 100;
	position: absolute;
	top: 60px;
	img {
		width: 313px;
		margin-bottom: 30px;
	}
	h1 {
		font-size: 37px;
		font-weight: 600;
		line-height: 1;
		color: #fff;
		text-transform: uppercase;
		span {
			font-family: "gizmo";
			font-size: 180px;
			text-transform: none;
			font-weight: normal;
			-webkit-font-smoothing: antialiased;
		}
	}
}

section.videos {
	display: block;
	float: left;
	width: 100%;
	background: url(../images/video-bg.png);
	padding-bottom: 30px;
	.home-video {
		margin-top: -80px;
		margin-bottom: 20px;
		padding-left: 16px;
		padding-right: 16px;
		position: relative;
		a {
			margin-bottom: 20px;			
		}
		img {
			border: solid 10px #fff;
			box-shadow: 0 0 50px rgba(0,0,0,.88);
		}
		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -39px;
			margin-left: -39px;
			width: 78px;
			height: 78px;
		}
	}
	.quote-wrapper {
		display: inline-block;
		padding: 0 182px;
		position: relative;
	}
	h2, p {
		color: #664D39;
		font-weight: 600;
	}	
	h2 {
		font-size: 38px;
		margin-top: 60px;
		margin-bottom: 24px;
	}
	p {
		font-size: 20px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	.home-quote {
		display: block;
		float: left;
		width: 100%;
		margin: 0 auto;
		position: relative;
		img {
			float: right;
			margin-right: -182px;
		}
	}
}

section.home-blocks {
	display: block;
	float: left;
	width: 100%;
	.home-block {
		position: relative;
		.home-block-overlay {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			text-transform: uppercase;
			color: #fff;
			font-size: 32px;
			font-weight: 600;
			letter-spacing: 3px;
			line-height: 1;
		}
	}
}