.tax-sub-cats {
	display: block;
	float: left;
	width: 100%;
    background: url(../images/video-bg.png);
    padding: 70px 0 50px 0;
    @media only screen and (max-width: 40.063em) {
	 	padding: 30px 0 10px 0;   
	}
    .cat-filter {
	    display: inline-block;
	    margin: 30px 8px;
	    min-width: 120px;
	    @media only screen and (max-width: 40.063em) {
		 	min-width: 77px;
		 	margin: 15px 8px;
		}
	    cursor: pointer;
	    svg {
		    width: 60px;
		    height: 60px;
		    path {
			    fill: $brown;
			    stroke: $brown;
		    }
	    }
	    h3 {
		   text-transform: lowercase;
		   font-weight: 600;
		   font-size: 24px;
		   @media only screen and (max-width: 40.063em) {
				font-size: 18px;   
		   }
		   color: $brown;
	    }
	    svg path, h3 {
		    transition: all .5s;
	    }
	    &.active, &:hover {
		    svg path {
		    	fill: $orange;
				stroke: $orange;
			}
			h3 {
				color: $orange;
			}
	    }
	    &.active {
		    pointer-events: none;
		    cursor: default;		    
	    }
    }
}

.cat-banner-ads {
	margin: 50px 0;
	@media only screen and (max-width: 40.063em) {
		margin: 10px 0;	
	}
}

.poi-card {
	background: rgba($brown, .10);
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	.poi-card-content {
		p, .poi-link, .poi-itinerary, a {
			color: $brown;
			transition: color .5s;
		}
		svg path {
			fill: $brown;
			stroke: $brown;
			transition: all .5s;
		}
	}
	.poi-caption {
		position: absolute;
		top: 0;
		right: 0;
		padding: 4px 10px;
		color: #fff;
		font-size: 16px;
		background: rgba($orange,.7);
		text-transform: uppercase;
		font-weight: 600;
	}
	&:hover {
		background: $brown;
		box-shadow: 0 0 55px rgba(0,0,0,.60);		
		.poi-card-content {
			p, .poi-link, .poi-itinerary, a {
				color: #fff;
			}
			svg path {
				fill: #fff;
				stroke: #fff;
			}
		}
	}
	h3 {
		color: $orange;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.poi-card-content {
		display: block;
		float: left;
		width: 100%;
		padding: 30px 40px 70px 40px;
		@media only screen and (max-width: 1170px) {
			padding: 15px 20px 70px 20px;
		}
	}
	
	p, a {
		font-size: 18px;
	}
	.clickable {
		cursor: pointer;
	}
	a.address{
		display: block;
		width: 100%;
		margin-bottom: 15px;
	}
	.poi-link {
		font-size: 18px;
		font-weight: bold;
	}	
	.poi-more-info {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 20px;
		padding: 9px 10px 8px 10px;
		background: rgba(255,255,255,.2);
	}

	.poi-social {
		margin-top: 24px;
		float: right;
		a {
			margin-right: 10px;
		}
	}
	.poi-itinerary {
		cursor: pointer;
		float: left;
		margin-top: 15px;
		width: 138px;
		@media only screen and (max-width: 1090px) {
			width: 100px;	
		}
		font-weight: bold;
		span {
			text-transform: uppercase;
		}
		div {
			display: inline-block;
			width: 98px;
			line-height: 1;
			font-size: 18px;
		}
		svg {
			width: 25px;
			height: 39px;
			margin-right: 8px;
			vertical-align: top;
			@media only screen and (max-width: 1090px) {
				display: none;	
			}
		}
		.added {
			display: none;
		}
		&.added .added {
			display: inline;
		}
		&.added {
			pointer-events: none;
			cursor: default;
			color: $orange !important;
			svg path {
				fill: $orange;
				stroke: $orange;
			}
		}
	}
	.poi-shade {
		background: $brown;
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		padding: 36px 40px 0px 40px;
		@media only screen and (max-width: 1260px) {
			padding: 36px 20px 0 20px;
		}
		@media only screen and (max-width: 1170px) {
			h3 {
				font-size: 20px;
			}
		}
		height: 100%;
		width: 100%;
		overflow: scroll;
		p, a, .poi-itinerary {
			color: #fff;
		}
		svg path {
			fill: #fff;
		}
		p {
			font-size: 15px;
			margin-bottom: 20px;
			@media only screen and (max-width: 1170px) {
				margin-bottom: 10px;	
			}
		}
		.button a {
			background: transparent;
			margin-bottom: 20px;
			@media only screen and (max-width: 1170px) {
				margin-bottom: 10px;	
			}
		}
		.close-shade {
			display: block;
			position: absolute;
			top: 12px;
			right: 16px;
			font-size: 64px;
			font-weight: 100;
			color: #fff;
			line-height: 24px;
			width: 24px;
			height: 24px;
			cursor: pointer;
		}
		.shade-right {
			padding-top: 30px;
			a {
				font-weight: bold;
			}
			@media only screen and (max-width: 1120px) and (min-width: 40.063em) {
				padding-top: 8px;
				padding-bottom: 20px;	
			}
		}
		.shade-left, .shade-right {
			display: block;
			float: left;
			width: 50%;
			@media only screen and (max-width: 1120px) and (min-width: 40.063em) {
				width: 100%;
				text-align: center !important;
				.poi-itinerary {
					float: none;
					display: inline-block;
				}
			}
		}

	}
	&.shade-open .poi-shade {
		top: 0;
	}
	/* .poi-modal {
		display: block;
		position: fixed;
		opacity: 0;
		z-index: -9999;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		overflow: scroll;
		&.active {
			z-index: 9999999;
			opacity: 1;
		}
		.modal-inner {
			background: $brown;
			position: relative;
			width: 90%;
			max-width: 1272px;
			margin: 0 auto;
			box-shadow: 0 0 70px rgba(0,0,0,.60);
			padding: 40px 25px;
			h3 {
				font-size: 28px;	
			}
			p {
				color: #fff;
			}			
		}
		.close-modal {
			cursor: pointer;
			display: block;
			position: absolute;
			right: 40px;
			top: 40px;
			svg {
				width: 80px;
				height: 80px;
				opacity: .2;
				path {
					fill: #fff;
				}
				circle {
					stroke: #fff;
				}
			}		
		}
		.carousel-container {
			display: block;
			margin: 0 auto;
			width: 80%;
		}
		.poi-gallery {
			a.video {
				display: inline-block;
				position: relative;
				.play-overlay {
					position: absolute;
					left: 50%;
					top: 50%;
					margin-top: -32px;
					margin-left: -32px;
					svg {
						width: 64px;
						height: 64px;
					}
				}
			}
			.bx-wrapper .bx-prev {
				left: -55px !important;
			}
			
			.bx-wrapper .bx-next {
				right: -55px !important;
			}			
		}
	} */	
}

#itinerary > .poi-card {
	overflow: visible;
}

body.single-poi .poi-card {
	margin: 0 auto;
}

body.single-poi #page {
	margin-top: 130px;
	@media only screen and (max-width: 40.063em) {
		margin-top: 20px;	
	}
}